
blockquote {
  margin: 1em;
  border-left: solid 10px #cecece;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

blockquote, figure {
  margin: 1em 0;
}

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset;
}

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12);
}

td {
   border: 2px solid midnightblue;
   text-align: center;
}

table thead {
  background-color: #cecece;
}

tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04);
}

:not(pre) > code {
  font-size: .9em;
  color: red;
  background: rgba(217, 217, 217, .5);
  /* opacity: .7; */
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}
